.App
{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-image: url('./Bg/bg_2.jpg');
  background-size: cover;
  background-position: center; */
}
.left-container
{
  flex: 0.6;
  height: 100vh;
}
.right-container
{
  flex: 0.4;
  height: 100vh;
}